@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}  */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'MessinaSans', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  position: relative;
}

@layer components {
  .main-height {
    height: calc(100vh - 85px);
  }
}

.tiptap h1, .tiptap h2, .tiptap h3 {
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.tiptap h1 {
  font-size: 24px;
}

.tiptap h2 {
  font-size: 24px;
  /* margin-bottom: 24px; */
}

.tiptap h3 {
  font-size: 18px;
}

.tiptap h1 + p {
  color: #818181;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
  margin: 0;
}

ul {
  list-style-type: square;
 
}

.use-cases strong {
  color: #414141;
  font-size: 14px;
  line-height: 24px;
}
.use-cases p {
  color: #414141;
}

.use-cases li {
  margin-left: 7px;
}

.use-cases h3 {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  padding-bottom: 18px;
  border-color: #D8D8D8;
}

.editor-container button p {
  color: white;
}

.tiptap li {
  margin-left: 10px;
}

.editor-container {
  width: 100%;
  padding: 14px 10px;
}

.editor-container:hover {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--gray-4, #D6D6D6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

.editor-container:hover:focus-within {
  cursor: text;
}


.tiptap {
  padding: 10px
}

.tiptap > * + * {
  margin-top: 0.75em;
}

.tiptap ul,
ol {
  padding: 0 1rem;
}

.tiptap h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.tiptap code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.tiptap pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap hr {
  margin: 1rem 0;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0D0D0D, 0.1);
}

.editor-links {
  color: var(--color-action-action-blue, #3284FF);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-decoration-line: underline;

}

.editor-links::after {
  content: "\1F517";
}