@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}  */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'MessinaSans', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  position: relative;
}

@layer components {
  .main-height {
    height: calc(100vh - 85px);
  }
}

.tiptap h1, .tiptap h2, .tiptap h3 {
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
  margin: 0;
}

.tiptap h1 {
  font-size: 30px;
}

.tiptap h2 {
  font-size: 24px;
  /* margin-bottom: 24px; */
}

/* .tiptap h2 + p {
  margin-bottom: 48px;
} */


.tiptap h3 {
  font-size: 18px;
  /* margin-bottom: 24px; */
  /* margin-top: 25px; */
}

/* .tiptap h3 + p {
  margin-bottom: 24px;
} */

.tiptap h1 + p {
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

ul {
  list-style-type: square; /* Default bullet points */
  padding-left: 30px;     /* Give it some space on the left */
}

/* .use-cases {
  margin-top: 40px;
} */

.use-cases h3 {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  padding-bottom: 18px;
  border-color: rgb(161 161 170 / var(--tw-border-opacity));
}

/* <div className="w-[394.45px]"><span style="text-neutral-700 text-sm font-bold leading-normal">Grammar Check<br/></span><span style="text-neutral-700 text-sm font-normal leading-normal">Use AI tools for grammar and spelling checks<br/></span><span style="text-neutral-700 text-sm font-bold leading-normal">Concept Learning<br/></span><span style="text-neutral-700 text-sm font-normal leading-normal">Chat with AI to gain a general understanding of topics of learning<br/></span><span style="text-neutral-700 text-sm font-bold leading-normal">Argument Generation<br/></span><span style="text-neutral-700 text-sm font-normal leading-normal">Use AI to generate arguments for essays or presentations<br/></span><span style="text-neutral-700 text-sm font-bold leading-normal">Outline Generation<br/></span><span style="text-neutral-700 text-sm font-normal leading-normal">Use AI to generate an outline for a paper or presentation<br/></span><span style="text-neutral-700 text-sm font-bold leading-normal">Summary Generation<br/></span><span style="text-neutral-700 text-sm font-normal leading-normal">Use AI to generate summaries of papers or reading materials for faster understanding<br/></span><span style="text-neutral-700 text-sm font-bold leading-normal">Additional examples</span><span style="text-neutral-700 text-sm font-normal leading-normal"> <br/></span><span style="text-neutral-700 text-sm font-normal leading-normal">(Additional allowed use cases will be added as one paragraph here)</span></div> */
/* .policy-links {
  margin-top: 30px;
} */

.editor-container {
  width: 100%;
  padding: 14px 10px;
}

.editor-container:hover {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--gray-4, #D6D6D6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

.editor-container:hover:focus-within {
  cursor: text;
}


.tiptap {
  padding: 10px
}