@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}  */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'MessinaSans', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  position: relative;
  font-variant-ligatures: none;
  box-sizing: border-box;
}

@layer components {
  .main-height {
    height: calc(100vh - 85px);
  }
}

.preview-container {
  width: 100%;
  max-width: 985px; 
  margin: 0 auto; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
}
/* Content within the preview page */
.preview-content {
  margin: 20px 40px; 
}

.preview-header {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

.tiptap h1, .tiptap h2, .tiptap h3 {
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.tiptap h1 {
  font-size: 24px;
}

.tiptap h2 {
  font-size: 24px;
  /* margin-bottom: 24px; */
}

.tiptap h3 {
  font-size: 18px;
}

.tiptap h1 + p {
  color: #818181;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
  margin: 0;
}

ul {
  list-style-type: square;
 
}

.use-cases strong {
  color: #414141;
  font-size: 14px;
  line-height: 24px;
}
.use-cases p {
  color: #414141;
}

.use-cases li {
  margin-left: 7px;
}

.use-cases h3 {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  padding-bottom: 18px;
  border-color: #D8D8D8;
}

.editor-container button p {
  color: white;
}

.tiptap li {
  margin-left: 10px;
}

.editor-container {
  width: 100%;
  padding: 14px 10px;
}

.editor-container:hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
}

.editor-container:hover:focus-within {
  cursor: text;
}


.tiptap {
  padding: 10px
}

.tiptap > * + * {
  margin-top: 0.75em;
}

.tiptap ul,
ol {
  padding: 0 1rem;
}

.tiptap h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.tiptap code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.tiptap pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap hr {
  margin: 1rem 0;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0D0D0D, 0.1);
}

.editor-links {
  color: var(--color-action-action-blue, #3284FF);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-decoration-line: underline;

}

.editor-links::after {
  content: "\1F517";
}

@media print {
  body {
    font-size: "16px";
    color: "lightgrey";
  }
}

.dragging-container {
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
  scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
  transform-origin: 0 0;
  touch-action: manipulation;
}

.dragging-container-sub {
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
  scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
  transform-origin: 0 0;
  touch-action: manipulation;
}

.fadeIn {
  animation: fadeIn 500ms ease;
}

.dragOverlay {
  --scale: 1.05;
  --box-shadow: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05), 0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15)
  --box-shadow-picked-up: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),
    -1px 0 15px 0 rgba(34, 33, 81, 0.01),
    0px 15px 15px 0 rgba(34, 33, 81, 0.25);
  z-index: 999;
}