name: "Deploy to Staging"

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  AWS_REGION: us-west-1
  SURVEY_URL: ${{ secrets.STAGING_SURVEY_URL }}
  LAMBDAS_API_BASE_URL: ${{ secrets.STAGING_LAMBDAS_API_BASE_URL }}
  SAMPLE_PDF_URL: ${{ secrets.STAGING_SAMPLE_PDF_URL }}

concurrency: merge-${{ github.ref }}

permissions:
  id-token: write
  contents: read

jobs:
  staging_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: yarn install

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID_STAGING }}:role/${{ secrets.AWS_ROLE_NAME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy app to staging
        run: |
          yarn sst deploy --stage staging
